body{
    background:#3D7475;
    display: flow-root;
}

.CESC {
    font-size: 28px;
    color:#524b4b;
    text-decoration:none;
    font-weight: 700;
    display: flex;
    justify-self: center;
    text-align: center;
}

header ul {
    position: auto;
    list-style:none;    
    background: #d2b7b7;
    text-align: center;
    margin-right:10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: flex;
    justify-content: center;
    background: relative;
    padding:10px;
    margin: 1px solid 0;
    color: #fff;
    text-decoration: none;
    text-align: justify;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    padding-left:0;
    padding-right: 0;
    background: #a76e6e;
    position: absolute; 
    display: none;
    z-index: 999;
}

ul li a:hover {
    background: #fff;
    transition: 0.5s;
    color: black;
}

ul li:hover ul.dropdown {
    display: block;
}

.nets {
    float: left;
    padding: 1px; 
    margin: 1px solid 0;
    display: flow-root;
    width: 30px;
    height: 30px;
}

button.nextbtn {
    padding: 1px;
    margin: 1px;
    border: #a76e6e double 8px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #a76e6e;
    font-style: bold;
}


#wrapper {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 500px;
    height: 500px;
    border: 8px double black;
}
#startTime {
    background-color: rgb(125, 125, 255);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: aliceblue;
}
#questionsDiv {
    margin: 20px;
    color: aliceblue;
}

#currentTime {
    float: right;
}

#goBack {
    background-color: rgb(125, 125, 255);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}



#clear {
    background-color: rgb(125, 125, 255);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
    border: 5px solid navy ;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#Submit {
    background-color: rgb(125, 125, 255);
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
    color: aliceblue;
}

li {
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

p{
    color: aliceblue;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {
/* Resized content to fit 786px  */
body {
    max-width: 786px;
}
/* Resized main-content to fit 786px  */
#wrapper {
position: absolute;
left: 20%;
margin-top: 20%;
}

p{
color: aliceblue;
}
#goBack {
    
    position: relative;
    left: 55%;
}

#clear {
    
    position: relative;
    right: 5%;
    
}
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
/* Resized content to fit 640px  */
body {
    min-width: 640px;
}
/* Resized main-content to fit 640px  */
#wrapper {
position: absolute;
left: 10%;
margin: 20%;
}

p{
color: aliceblue;
}
}